:root {
  --max-width: 800px;
  --nav-height: 60px;
}

body {
  margin: 0;
  padding: 0 15px 80px;
  background-image: radial-gradient(circle farthest-corner at -10% -5%, #1E92CC 5%, rgba(31, 133, 134, 0) 60%, #CCBE41 80%, #3744FF 100%);
  background-size: 100% 4000px;

  font-family: 'Open Sans', sans-serif;
}

nav ul {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 0 15px;
  line-height: var(--nav-height);
  color: white;
  text-decoration: none;
  text-shadow: 0 2px 3px #0000007d;
  font-size: 1.2em;
  transition: transform .2s ease-in;
}
nav ul li a:hover {
  transform: scale(1.3);
}
nav ul li a.active {
  text-decoration: underline;
}

header {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 0 2px 3px #0000007d;
}

section#content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  background-color: white;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0 30px 60px #0000007d;
  font-size: 1.1em;
}

section#content ul {
  list-style-type: none;
  padding-left: 0;
}
section#content aside {
  margin: 0 20px;
}

@media (max-width: 700px) {
  section#content {
    flex-wrap: wrap;
  }
  section#content aside {
    margin: 0;
  }
}